body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #455a64;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  /*----input fields placeholder color-------*/
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d8d8d8;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #d8d8d8;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #d8d8d8;
  }

  .center {
    text-align: center;
  }
  
  .floatRight {
    float: right;
  }
  
  .redColored {
    color: red;
  }

  .noPadding {
    padding: 0;
  }

/*----login/register page-----*/
  .loginPageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    /* background-color: grey; */
    width: 60%;
    margin: auto;

    margin-top: 50px;
  }

  .logoIcon {
    width: 200px;
  }

  .logoTitle {
    font-size: 21px;
    font-weight: 600;
    color: white;
  }

  .inputBox {
    width: 350px;
    height: 45px;
    background-color: rgba(255, 255,255,0.2);
    border: none;
    border-radius: 25px;
    padding: 0px 16px; /*vertical horizontal */
    font-size: 16px;
    color: #ffffff;
    margin: 10px 0px;
  }

  .buttonText {
    font-size: 16px;
    font-weight: 500;
    color: #d8d8d8;
    text-align: center;
  }

  .signupText {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;

    color: rgba(255,255,255,0.6);
    font-size: 16px;
  }

  .signupButton {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }

/*----login/register page-----*/

/*----others-----*/
  .circularBtnContainer {
    width: 350px;
    height: 50px;
    background-color: #1c313a;
    border: none;
    border-radius: 25px;
    margin: 10px 0px;
    padding: 13px 0px;
    text-align: center;
  }
  
  .loadingAnimation {
    width: 50px;
  }
  
  .successImg {
    width: 150px;
  }
  
  .successText {
    font-size: 120%;
    
  }
  
  .wideBtn {
    width: 180px;
  }
  
  .whiteLink { 
    color: white;
    text-decoration: none
  }
  
  .whiteLink:hover { 
    color: white;
    text-decoration: none
  }
  
  /*------nav bar------*/  
    .navBarBrand{
      padding: 10px;
      padding-left: 15px;
      font-size: 125%;
    }
  
    #mobileNavBarToggler {
      margin-Right: 5px;
    }
  
    .navWebMenu {
      margin-right: 10px;
      margin-left: 10px;
    }
  /*------nav bar------*/
  
  /*--------landing page--------*/
  
  /*media screens*/
    @media screen and (max-width: 800px) {
      .loginPageContent {
        width: 90%;
        margin-top: 100px;
      }
    
      .logoIcon {
        width: 120px;
      }
  
      .inputBox, .circularBtnContainer {
        width: 280px;
      }
  
    }