body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #455a64;
    overflow: hidden;
}

.routeLoading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

/*----input fields placeholder color-------*/
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d8d8d8;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #d8d8d8;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #d8d8d8;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

::-webkit-scrollbar { 
    display: none; /*-----hiding scrollbar----------*/
}

.checked {
    text-decoration: line-through;
}
/*----input fields placeholder color-------*/


/*----login/register page-----*/
.loginPageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* background-color: grey; */
    width: 60%;
    margin: auto;

    margin-top: 50px;
}

.smallTopMargin {
    margin-top: 20px;
}

.logoIcon {
    width: 200px;
}

.logoTitle {
    font-size: 21px;
    font-weight: 600;
    color: white;
}

.inputBox {
    width: 350px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 25px;
    padding: 0px 16px;
    /*vertical horizontal */
    font-size: 16px;
    color: #ffffff;
    margin: 10px 0px;
}

.buttonText {
    font-size: 16px;
    font-weight: 500;
    color: #d8d8d8;
    text-align: center;
}

.signupText {
    width: 100%;
    text-align: center;

    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
}

.signupButton {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.successRegistrationText {
    padding: 20px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
}
/*----login/register page-----*/


/*-----navbar--------*/
.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #3d4e56;
    padding: 0px 10px;
    background-color: #455a64;
    height: 40px;
}

.navBarBrand {
    display: flex;
    align-items: center;
}

.navLogoImg {
    width: 30px;
    margin-right: 7px;
}

.navTitle {
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}

.logOutImg {
    width: 25px;
    cursor: pointer;
    filter: invert(6%) sepia(16%) saturate(592%) hue-rotate(34deg) brightness(96%) contrast(91%);
    /* tintColor: #181915; */
}
/*-----navbar--------*/


/*----notes list-----*/
.homeContainer {
    display: flex;
}

.noteItemContainer {
    width: 25%;
    max-height: calc(95vh - 40px);
    min-height: calc(95vh - 40px);
    overflow: auto;
    border-right: .5px solid #1c313a;
}

.noteContentContainer {
    width: 75%;
    max-height: calc(95vh - 40px);
    min-height: calc(95vh - 40px);
    overflow: auto;
}

.notesListItem {
    border-bottom: .5px solid #1c313a;
    padding: 15px;
    margin: 5px;
    cursor: pointer;
}

.activeNote {
    background-color: #1c313a;
}

.activeNote .notesListType {
    color: #d8d8d8;
}

.notesListTitleText {
    color: #d8d8d8;
    font-weight: bold;
    font-size: 16px;
}

.notesListType {
    color: #1c313a;
    text-align: left;
    font-size: 12px;
}

/*----notes list-----*/


/*-----notes content------*/
.noteHeader {
    position: sticky;
    top: 0px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #455a64;

    width: 100%;
    margin: auto;
}

.isCheckBoxIcon {
    height: 18px;
    filter: invert(100%) sepia(0%) saturate(4848%) hue-rotate(33deg) brightness(115%) contrast(69%); /* tintColor: '#d8d8d8', */
}

.noteTitleInput {
    width: 70%;
    height: 35px;
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    margin: 0 5px;

    background: none;
    border: none;
}

.deleteImg {
    width: 21px;
    cursor: pointer;
    filter: invert(17%) sepia(50%) saturate(347%) hue-rotate(152deg) brightness(94%) contrast(99%); /* tintColor: '#1c313a', */
}

.noteContentList {
    width: 95%;
    margin: auto;
}

.addItemBtn {
    cursor: pointer;
    margin: 10px 0;
    display: flex;
    align-items: center;
    color: #d8d8d8;
    font-size: 15px;
    font-weight: 500;
}

.addItemBtn img {
    height: 18px;
    margin-right: 5px;
    filter: invert(100%) sepia(0%) saturate(4848%) hue-rotate(33deg) brightness(115%) contrast(69%);
    /* tintColor:'#d8d8d8', */
}

.notesListDataFields {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
    width: 100%;
}

.notesListDataFieldCheckedIcon {
    width: 18px;
    cursor: pointer;
    filter: invert(100%) sepia(0%) saturate(4848%) hue-rotate(33deg) brightness(115%) contrast(69%); /* tintColor: '#d8d8d8', */
}

.notesListDataFieldRemoveIcon {
    width: 14px;
    cursor: pointer;
    filter: invert(15%) sepia(38%) saturate(576%) hue-rotate(152deg) brightness(94%) contrast(92%);
    /* tintColor: '#1c313a', */
}

.notesListDataFieldInput {
    width: 97%;
    margin: 0px 5px;
    padding: 0px 7px;
    color: #d8d8d8;
    font-size: 13.5px;

    background: none;
    border: none;
}

.notesListDataFieldTextArea {
    background: none;
    border: none;
    resize: none;

    width: 100%;
    min-height: 50px;
    margin: 0px 5px;
    padding: 0px 7px;
    color: #d8d8d8;
    font-size: 15px;
}
/*-----notes content------*/


/*----others-----*/
.circularBtnContainer {
    width: 350px;
    height: 50px;
    background-color: #1c313a;
    border: none;
    border-radius: 25px;
    margin: 10px 0px;
    padding: 13px 0px;
    text-align: center;
}

.createNewNoteBtn {
    position: fixed;
    bottom: 15px;
    right: 15px;
    height: 70px;
    width: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    border-radius: 100px;
    background-color: #181915;

    z-index: 1000;
}

.createNewNoteBtn img {
    height: 50%;
    width: 50%;
    filter: invert(31%) sepia(43%) saturate(259%) hue-rotate(154deg) brightness(94%) contrast(87%);
    /* tintColor: '#455a64', */
}


/*------media screens------*/
@media screen and (max-width: 800px) {
    .loginPageContent {
        width: 90%;
        margin-top: 100px;
    }

    .smallTopMargin {
        margin-top: 20px;
    }

    .logoIcon {
        width: 120px;
    }

    .inputBox,
    .circularBtnContainer {
        width: 280px;
    }

    .navLogoImg {
        width: 22px;
    }

    .navTitle {
        font-size: 16px;
    }

    .logOutImg {
        width: 20px;
    }

    .noteItemContainer {
        padding: 10px 0;
        width: 35%;
    }

    .notesListItem {
        padding: 5px;
        margin: 0px 3px;
    }

    .notesListTitleText {
        font-size: 14px;
    }

    .notesListType {
        font-size: 10px;
    }

    .createNewNoteBtn {
        bottom: 10px;
        right: 10px;
        height: 50px;
        width: 50px;
    }

    .noteTitleInput {
        font-size: 17px;;
    }
    
    .deleteImg {
        width: 20px;
    }
        
    .addItemBtn {
        font-size: 14px;
    }
    
    .addItemBtn img {
        height: 15px;
    }

    .notesListDataFieldCheckedIcon {
        width: 16px;
    }

    .notesListDataFieldRemoveIcon {
        width: 13px;
    }

    .notesListDataFieldInput {
        font-size: 13px;
    }

    .notesListDataFieldTextArea {
        font-size: 14px;
    }
}